@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: 'Outfit', sans-serif;
}

body {
  background-image: url('/bg-gradient.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}